<div ng-controller="MainCtrl">
   <div class = "container">
      <div class="row">
       {{a.show_trash}}
         <div class='col-md-6'>
            <div ng-repeat="team in teams | orderBy:'-upvotes'"> 
               <span style="font-size:20px; margin-left:10px;">
               <a editable-text = "team.name"  >
               {{team.name}}
               </a>
               </span>
               <span ng-click="deleteTeam()" ng-mouseenter= "a.show_trash=true" ng-mouseleave="a.show_trash=false" class="glyphicon glyphicon-trash">
               </span>
            </div>
            <div>
               <form ng-submit="addTeam()"
                  style="margin-top:30px; width: 200px">
                  <h3>Add a new team</h3>
                  <div class="form-group">
                     <input type="text"
                        class="form-control"
                        placeholder="name"
                        ng-model="name"></input>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Team</button>
               </form>
            </div>
            <!-- end teams -->
 
         </div>
         <!-- end teams col -->

         <div class='col-md-6'>
            <div ng-repeat="employee in employees | orderBy:'-upvotes'"> 
               <span style="font-size:20px; margin-left:10px;">
               <a>
               {{employee.name}}
               </a>
               </span>
            </div>
            <div>
               <form ng-submit="addEmployee()"
                  style="margin-top:30px; width:200px">
                  <h3>Add a new employee</h3>
                  <div class="form-group">
                     <input type="text"
                        class="form-control"
                        placeholder="name"
                        ng-model="emp_name"></input>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Employee</button>
               </form>
            </div>
            <!-- end teams -->
         </div>
         <!-- end teams col -->

      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</div>

