<div ng-controller="MainCtrl">
   <div class = "container">
      <div class="row">
       {{a.show_trash}}
         <div class='col-md-6' style="min-height: 250px;">
            <div ng-repeat="team in teams | orderBy:'-upvotes'"> 
               <span style="font-size:20px; margin-left:10px;" ng-mouseover= "team_hover_over();" ng-mouseleave="team_leave()">
               <a editable-text = "team.name"  >
               {{team.name}}
               </a>
                  <span ng-click="deleteTeam()" ng-show="show_trash" class="glyphicon glyphicon-trash">
                  </span>
               </span>
         
            </div>
            <div>
               <form ng-submit="addTeam()"
                  style="margin-top:30px; width: 200px">
                  <h3>Add a new team</h3>
                  <div class="form-group">
                     <input type="text"
                        class="form-control"
                        placeholder="name"
                        ng-model="name"></input>
                  </div>
                  <button type="submit" class="btn btn-primary" ng-mouseover= "team_hover_over();alert('hi')" ng-mouseleave="team_leave()">Add Team</button>
               </form>
            </div>
            <!-- end teams -->
 
         </div>
         <!-- end teams col -->

         <div class='col-md-6'>
            <div ng-repeat="employee in employees | orderBy:'-upvotes'"> 
               <span style="font-size:20px; margin-left:10px;">
               <a>
               {{employee.name}}
               </a>
               </span>
            </div>
            <div>
               <form ng-submit="addEmployee()"
                  style="margin-top:30px; width:200px">
                  <h3>Add a new employee</h3>
                  <div class="form-group">
                     <input type="text"
                        class="form-control"
                        placeholder="name"
                        ng-model="emp_name"></input>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Employee</button>
               </form>
            </div>
            <!-- end teams -->
         </div>
         <!-- end teams col -->

      </div>
      <!-- end row -->
   </div>
   <!-- end container -->
</div>

