<div ng-controller="MainCtrl">
   <div class = "container"> 
      <div class="row">
         <div class='col-md-6' style="min-height: 250px;"> 

          <br><br><br><br><br><br>

          <h4> accounts </h4>

          {{models.dropzones._Accounts}}

          <br>
          <h4> teams </h4>

          {{team_v1}}

         <!-- end teams -->
         </div>   <!-- end teams col -->

         <div class='col-md-6'>
             <h4> testing a function </h4>
             {{getTeamDemand()}}
             <br>

             {{models.dropzones.Teams[0].columns[0][0].name}}

         </div>
         <!-- end teams col -->
      </div>
      <!-- end row -->
      <!-- begin scripts -->

      <script type="text/ng-template" id="display.html">
      <ul dnd-list="list">
         <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include="item.type +'.html'">
         </li>
      </ul>
      </script>

      <script type="text/ng-template" id="team.html">
      <div class= "container-element box box-blue">
         <h3> {{item.team}} &nbsp&nbsp FTEs: {{item.fte}} 
         &nbsp&nbsp Productivity: <input type='text' ng-model="item.productivity" style="width:10%;"/>
         &nbsp&nbsp Supply: {{item.fte * item.productivity | number:0}} 
         &nbsp&nbsp Demand: {{ func(item)  | number: 0}} 
         </h3>

         <div class="column" ng-repeat="list in item.columns" ng-include="'display.html'"> </div>
         <div class="clearfix"> </div>
      </div>      
      </script>


      <script type="text/ng-template" id="account.html"> 
      <div class="item">
      {{item.name}}  Last Quarter TPV: {{item.TPV}}
      <br>
      Expected Growth:  &nbsp  <input ng-model="item.growth" type="text"  style="width: 10%;" />
      <br>
      Expected Demand: {{ item.expected_tpv * angular_growth(item.growth) | number: 0}}
       </div>

      </script>
      <!-- end scripts -->

      <div class="teamsAccounts">
         <div class="row">
            <div ng-repeat="(zone, list) in models.dropzones " class="col-md-6">
               <div class="dropzone box box-yellow">
                  <h3> {{zone}}</h3>
                  <div ng-include="'display.html'"> </div>
               </div>
            </div>
         </div>
      </div> 
   </div> <!-- end container -->

</div>

