<div ng-controller="MainCtrl">
   <div class = "container"> 

   <button ng-click="settings();">show settings</button> 

      <div class="row" ng-hide="show_settings">
         <div class='col-md-4' style="min-height: 250px;"> 

          <h4> accounts </h4>

          {{models.dropzones._Accounts}}

          <br>
          <h4> teams </h4>

           {{models.dropzones.Teams}}

         <!-- end teams -->
         </div>   <!-- end teams col -->

         <div class='col-md-4'>
             <h4> testing a function </h4>
             {{getTeamDemand()}}
             <br>

             {{models.dropzones.Teams[0].columns[0][0].name}}

         </div>

         <div class='col-md-4'>
         <h4> test </h4>

         </div>
         <!-- end teams col -->
      </div>
      <!-- end row -->

      <!-- begin scripts -->
      <script type="text/ng-template" id="display.html">
      <ul dnd-list="list">
         <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}"
            ng-include= "item.type +'.html' ">
         </li>
      </ul>
      </script>


      <script type="text/ng-template" id="team.html">
         <div class= "container-element box box-blue">
            <h3> {{item.team}} &nbsp&nbsp FTEs: {{item.fte}} 
            &nbsp&nbsp Wins/FTE: <input type='text' ng-model="item.productivity" style="width:10%;"/>
            &nbsp&nbsp Supply: {{item.fte * item.productivity | number:0}} 
            &nbsp&nbsp Demand: {{ func(item)  | number: 0}} 
            </h3> 
            <div   ng-repeat="list in item.columns" ng-include="'display.html'"> </div>
            <div class="clearfix"> </div>
         </div> 
      </script> 

      <script type="text/ng-template" id="account.html"> 
      <div class="item"> 

         <div class="col-md-3">
            <div class="nameBox">
                {{item.name}}  
            </div>
         </div>

         <div class="col-md-3"> 
         Last Quarter TPV: {{item.TPV}}  
         </div>

         <div class="col-md-3"> 
         Expected Growth:  <br>  <input ng-model="item.growth" type="text"  style="width: 40%; text-algin:center;"/>
         </div>

         <div class="col-md-3"> 
         Expected Demand: {{ item.expected_tpv * angular_growth(item.growth) | number: 0}}
         </div>

       </div> 
      </script>
      <!-- end scripts -->

<hr>

      <div class="row" id="tabs_layout" style="margin-left: 0px">

        <ul class="nav nav-pills">
            <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">Targets</a>
            </li>
            <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)">Holidays</a>
            </li>

        </ul>

      </div>

      <div class="row">
        <!-- tab example based on http://codepen.io/jasoncluck/pen/iDcbh
             should replace with https://scotch.io/tutorials/angular-routing-using-ui-router
        -->

        <div id="target setting" ng-show="isSet(1)">

          <div class="row top-buffer">          
          </div>

         <div class="row" style="margin-left: 5px;">
            Select BU: <input type="dropdown"> </input>  
            <br>

            <!-- {{lo_test}} -->
         </div>  

          <div class="row top-buffer">          
          </div>


          <div class="teamsAccounts">
             <div class="row">
                <div ng-repeat="(zone, list) in models.dropzones" class="col-md-6">
                   <div class="dropzone box box-yellow">
                      <h3> {{zone}}</h3>
                      <div ng-include="'display.html'"> </div>
                   </div>
                </div>
             </div>
          </div>

        </div>

        <div id="businessdays" ng-show="isSet(2)">
          <div class="row top-buffer">

          <div class="col-md-3">

            <div class="row" style="margin-left: 30px;">
            Select Country
            </div>

            <div class="row" style="margin-left: 25px; margin-top: 10px">
              <select ng-model="selectedCountryID">
                <option ng-repeat="c in countries" value="{{c.id}}"> {{c.country}}</option>
              </select>
            </div>

          </div>
          
          <div class="col-md-3">
            <div class="row" style="margin-left: 1px">
            Select Holiday
            </div>

            <div class="row" >
              <md-datepicker ng-model="holidate"></md-datepicker>
            </div>
          </div>

          <div class="col-md-3">
            <div class="row">
            Description
            </div>

            <div class="row" style=" margin-top: 10px">
              <input ng-model="descrip" class="img-rounded" type="text" > </input>
            </div>
          </div>

          <div class="col-md-3">
            <div class="row" style="margin-left: 10px;">
            <button type="button" class="btn btn-primary" ng-click="add_holiday(selectedCountryID, holidate, descrip);" style="height:50px;"> Save Holiday </button> 
            </div>
          </div>

          <div class="row">
            <div class="row top-buffer" >

            </div>                  
            <div class="row top-buffer" style="margin-left: 30px;">
              <div class="col-md-6">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      <a href="#" ng-click= "sortReverse = !sortReverse">
                      Date   
                      </a>
                    </th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="row in holidays | orderBy:sortType:sortReverse | include_v: selectedCountryID  ">
                    <td>{{row.holiday_date}}</td>
                    <td>{{row.description}}</td>
                    <td> 
                      <button type="button" class="btn mini red-stripe" ng-click="remove_holiday(row.id);">
                      Delete 
                      </button> 
                    </td> 
                  </tr>
                  </tbody>
                </table> 
              </div>
            </div>
          </div>


          <br><br><br><br><br><br> 
        </div>
      </div>
   </div> 

<!-- end container -->

<!-- 
dnd-moved="list.splice($index, 1)"

ng-include="team.html"
dnd-draggable="item"

dnd-selected="models.selected = item"

dnd-moved="models.dropzones._Accounts.splice($index, 1)"

   <ul dnd-list="aList"  >
      <li ng-repeat='item in models.dropzones.Teams'
      dnd-draggable="item"
      dnd-effect-allowed="move"
      ng-include="test.html">  
      </li>
   </ul>
-->
</div>
